BasedOnStyle: LLVM
Language: Cpp

AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
AlwaysBreakTemplateDeclarations: true
AccessModifierOffset: -4
BreakBeforeBraces: Allman
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ContinuationIndentWidth: 8
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
SpaceBeforeParens: ControlStatements
SortIncludes: false
Standard: Cpp11
