language: cpp
sudo: false
services: docker
dist: trusty

matrix:
    include:
        - compiler: clang
          env: BUILD_TYPE=Release OPENMP=FALSE
        - compiler: g++
          env: BUILD_TYPE=Release OPENMP=FALSE
        - compiler: g++
          env: BUILD_TYPE=Release OPENMP=TRUE
        - compiler: g++
          env: BUILD_TYPE=Debug OPENMP=FALSE COVERAGE=--coverage

before_install:
    - CI_ENV=`bash <(curl -s https://codecov.io/env)`
    - travis_retry timeout 120 docker pull nuto/nuto_docker:dev
    - docker run $CI_ENV -itd --user nuto --name dock -v $(pwd):/home/nuto/source nuto/nuto_docker:dev

script:
    # - We log in /home/nuto (set as WORKDIR in Dockerfile). This will be our build directory avoid changing directories.
    # - The source code from travis is 'mounted' as /home/nuto/source via the -v option in the docker run command above
    - docker exec dock cmake -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DENABLE_OPENMP=$OPENMP -DCMAKE_CXX_FLAGS=$COVERAGE ../source
    - docker exec dock make -j2 unit
    - docker exec dock make -j2 integrationtests
    - docker exec dock ctest -R integration --output-on-failure
    - docker exec dock make -j2
    - docker exec dock bash ../source/scripts/check_install.sh

after_success:
    # will simply fail if --coverage is not set.
    - docker exec dock bash -c "cd ../source && scripts/upload_coverage.sh"
